{% extends './base.html' %}

{% block titulo %} To Do List! - Nueva Tarea{% endblock titulo %}

{% block contenido %}
<div class="container mt-3">
    <form method="post" action="" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                <h3>Nueva Tarea</h3>
            </div>
            <div class="card-body">
                <div class="form-group mb-3">
                    <label for="titulo">Título</label>
                    <input id="titulo" class="form-control" type="text" name="titulo">
                </div>

                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
                </div>
                <div class="form-group mb-5">
                    <label for="my-input">Selecciona la prioridad</label>
                    <select class="form-select" name="prioridad" aria-label="Default select example">
                        <option value="1">Urgente e importante</option>
                        <option value="2">Urgente</option>
                        <option value="3">Importante</option>
                        <option value="4">Ni urgente ni importante</option>
                    </select>
                </div>
                <div class="form-group">
                    <a class="btn btn-secondary" href="{% url 'index' %}">Regresar</a>
                    <input class="btn btn-success" type="submit" value="Agregar">
                </div>

            </div>
        </div>
    </form>
</div>

{% endblock contenido %}