{% extends './base.html' %}

{% block titulo %} To Do List! - Nuevo Proyecto{% endblock titulo %}

{% block contenido %}
<div class="container mt-3">

    <div class="card">
        <div class="card-header">Nuevo Proyecto</div>
        <div class="card-body">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {% for item in form %}
                    <div class="form-group">
                        <label for="">{{item.label}}</label>
                        {{ item }}
                    </div>
                    <div>{{item.errors}}</div>
                {% endfor %}
                <div class="row mt-3">
                    <div class="col-12">
                        <input type="submit" value="Guardar" class="btn btn-success">
                        <a href="/proyectos/" class="btn btn-secondary">Cancelar</a>        
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock contenido %}